.container{
    display: flex;
}
.nome{
    width: 320px;
    border-top: solid 1px;
    color:brown;
    border-color: rgb(112, 112, 112);
    display: flex;
    margin: 0px;
    margin-left: 245px;
    margin-top: 4%;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-bottom: 10px;  
}
.butao1{
    padding: 15px;
    padding-top: 17px;
    padding-bottom: 11px;
    color: gray;
    font-size: 25px;
}
.butao2{
    padding: 15px;
    padding-top: 17px;
    padding-bottom: 11px;
    color: gray;
    font-size: 25px;
}